<form action="/upload?redirect=true" method="post" enctype="multipart/form-data">
    <input type="text" id="token" name="token">
    <input type="file" id="file" name="file">
    <input type="submit" value="Submit">
</form> 